body {
    background: url('barbell.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: rgb(240, 230, 230);
    line-height: 1.5;
    margin: 0px;
    padding: 0px;

    
}




